

img[src*='#center'] {
  display: block;
  margin: 0 auto;
  }

.home .hero img {
  max-width: 10%;
  border-radius: 100%;
  }

.home.project .hero h1 {
  text-align: center;
  font-size: 3.4em;
  margin-top: -10px;
  }

.home.project .hero .description {
  text-align: center;
  margin: 0 auto !important;
  }

.home.project .feature h2 {
  text-align: center;
  font-size: 1.65em;
  margin-top: -10px;
  color: var(--theme-color);
  }

.theme-default-content .hero {
  max-width: 1920px;

  }

img[src*='#image'] {
  display: block;
  margin: 0 auto;
  }

img[src*='#gif'] {
  display: block;
  margin: 0 auto;
  }

img[src*='#navIcon'] {
  width: 230px;
  height: 150px;
  }

.home.project {
  min-height: calc(100vh - (var(--navbar-height)*2));
  }