/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important
  border-radius 50px !important

.theme-default-content
  max-width 1365px !important

.page-edit
  max-width 1365px !important

.page-nav
  max-width 1365px !important

img[src*='#center']
  display: block;
  margin: auto;
  max-width 300px
  max-height 300px

img[src*='#icons']
  margin: auto;
  max-width 200px
  max-height 200px

.medium-zoom-overlay
  background-color #545454 !important;

img[src*='#NPM']
  width: 200px !important
  height 30px !important

img[src*='#install']
  width: 150px !important
  height 25px !important